@model IEnumerable<LinkViewModel>
@{
    ViewData["Title"] = "Links";
}
@section links
{
    <link rel="stylesheet" href="~/css/index.css" />
}
<div>
    <table class="links">
        <thead>
            <tr>
                <th><p>@Html.DisplayNameFor(model => model.LongURL)</p></th>
                <th><p>@Html.DisplayNameFor(model => model.ShortURL)</p></th>
                <th><p>@Html.DisplayNameFor(model => model.CreationDate)</p></th>
                <th><p>@Html.DisplayNameFor(model => model.Jumps)</p></th>
                <th><p>Edit</p></th>
                <th><p>Delete</p></th>
            </tr>
        </thead>
        <tbody>
            @foreach (LinkViewModel link in Model)
            {
            <tr>
                <td>
                    <p><a href="@link.LongURL">@link.LongURL</a></p>
                </td>
                <td>
                    <p><a href="@link.ShortURL">@link.ShortURL</a></p>
                </td>
                <td>
                    <p>@link.CreationDate.ToLongDateString()</p>
                </td>
                <td>
                    <p>@link.Jumps</p>
                </td>
                <td>
                    <p>@Html.ActionLink("Edit", "EditOrCreate", "Home", new { id = link.Id })</p>
                </td>
                <td>
                    <p>@Html.ActionLink("Delete", "Delete", "Home", new { id = link.Id })</p>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section scripts
{
    <script>
        function linkJump(shortLink) {
            $.ajax({
                type: "POST",
                url: "/Home/AcceptLinkJump",
                data: { shortLink: shortLink },
                success: function (data) {
                    console.log(data);
                }
            });
            window.location.replace(longURL);
        }
    </script>
}